<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Vue App</title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class = "bg-blue-800">

    <!-- Let's add Vue here -->
    <div id="app" class = "flex flex-col justify-center items-center h-screen w-full ml-6">

        <div v-if='boxShow' class = 'bg-orange-500 w-20 h-20'></div>
        <template v-if="boxShow" >
            <div class="w-20 h-20 bg-green-700">&nbsp;</div>
            <div class="w-20 h-20 bg-red-700">&nbsp;</div>
            <div class="w-20 h-20 bg-yellow-700">&nbsp;</div>
        </template>
    </div>


    <script>
        const app = new Vue({
            el: "#app",
            data: {
                message: 'Hello Vue',
                box: 15,
            },
            computed: {
                boxShow: function(){
                    return this.box > 1
                }
            }
        });
    </script>
</body>

</html>