body{
    background: linear-gradient(90deg, rgb(58, 1, 58) 5%, rgb(63, 14, 92) 30%, rgb(4, 76, 209) 85%);
}

.body-text {
    text-align: center;
    color: #fff;
    margin-top: 100px;
}

.nav-wrapper {
    background: #252f3f;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    color: white;
}

.link-item{
    color: #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    position: relative;
}

.sublinks {
    position: absolute;
    top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #5145cd;
    padding: 10px;
    border-radius: 5px;
}

.link-item:active,
.link-item:hover,
.link-active {
    background: #777;
}
